In [2]:
import numpy as np
from scipy import stats
import pandas as pd

In [5]:
pd.set_option('display.notebook_repr_html', False)

In [7]:
data = pd.DataFrame({'Billy beer':[35264, 34245, 45345, 4535, 45363],
                    'Lucky beer':[233, 342, 563, 656, 4345],
                    'Tripple Bock':[234, 45345, 2435,34534, 5353]})
data

   Billy beer  Lucky beer  Tripple Bock
0       35264         233           234
1       34245         342         45345
2       45345         563          2435
3        4535         656         34534
4       45363        4345          5353

In [8]:
data.describe()

         Billy beer   Lucky beer  Tripple Bock
count      5.000000     5.000000      5.000000
mean   32950.400000  1227.800000  17580.200000
std    16749.346548  1750.722622  20845.188958
min     4535.000000   233.000000    234.000000
25%    34245.000000   342.000000   2435.000000
50%    35264.000000   563.000000   5353.000000
75%    45345.000000   656.000000  34534.000000
max    45363.000000  4345.000000  45345.000000

In [12]:
data.columns

Index(['Billy beer', 'Lucky beer', 'Tripple Bock'], dtype='object')

In [10]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [11]:
data.mean()

Billy beer      32950.4
Lucky beer       1227.8
Tripple Bock    17580.2
dtype: float64

In [13]:
data.std()

Billy beer      16749.346548
Lucky beer       1750.722622
Tripple Bock    20845.188958
dtype: float64

In [15]:
data.quantile(q= 0.75)

Billy beer      45345.0
Lucky beer        656.0
Tripple Bock    34534.0
Name: 0.75, dtype: float64

In [17]:
data.std(ddof = 0)

Billy beer      14981.070984
Lucky beer       1565.893917
Tripple Bock    18644.503806
dtype: float64

In [18]:
data.apply(np.mean)

Billy beer      32950.4
Lucky beer       1227.8
Tripple Bock    17580.2
dtype: float64

In [19]:
np.mean(data)

Billy beer      32950.4
Lucky beer       1227.8
Tripple Bock    17580.2
dtype: float64

In [20]:
def zscore(series):
    result = (series - series.mean())/series.std()
    return result

data.apply(zscore)

   Billy beer  Lucky beer  Tripple Bock
0    0.138131   -0.568223     -0.832144
1    0.077293   -0.505963      1.331952
2    0.740005   -0.379729     -0.726556
3   -1.696508   -0.326608      0.813320
4    0.741080    1.780522     -0.586572

In [21]:
stats.zscore(data, ddof = 1)

array([[ 0.13813076, -0.56822251, -0.83214405],
       [ 0.07729257, -0.5059625 ,  1.33195243],
       [ 0.74000499, -0.37972891, -0.72655614],
       [-1.69650798, -0.32660799,  0.81331956],
       [ 0.74107966,  1.78052192, -0.5865718 ]])

In [22]:
data.apply(lambda x: x.quantile(q=.75) - x.quantile(q= .25))

Billy beer      11100.0
Lucky beer        314.0
Tripple Bock    32099.0
dtype: float64