In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline

In [3]:
pd.set_option('display.notebook_repr_html', False)

In [4]:
names = pd.read_csv('NoteBooks-Statistics-and-MachineLearning-master/data/baby-names2.csv')

In [5]:
names.head()

   year     name      prop  sex soundex
0  1880     John  0.081541  boy    J500
1  1880  William  0.080511  boy    W450
2  1880    James  0.050057  boy    J520
3  1880  Charles  0.045167  boy    C642
4  1880   George  0.043292  boy    G620

In [6]:
names.tail()

        year      name      prop   sex soundex
257995  2008  Carleigh  0.000128  girl    C642
257996  2008     Iyana  0.000128  girl    I500
257997  2008    Kenley  0.000127  girl    K540
257998  2008    Sloane  0.000127  girl    S450
257999  2008   Elianna  0.000127  girl    E450

In [9]:
names.sex.value_counts()

boy     129000
girl    129000
Name: sex, dtype: int64

In [10]:
len(names)

258000

In [11]:
names.year.value_counts()

1919    2000
1983    2000
1953    2000
1954    2000
1955    2000
        ...
1881    2000
1882    2000
1883    2000
1884    2000
1920    2000
Name: year, Length: 129, dtype: int64

In [12]:
names[names.year == 1996].head()

        year         name      prop  sex soundex
116000  1996      Michael  0.019156  boy    M240
116001  1996      Matthew  0.016019  boy    M300
116002  1996        Jacob  0.015928  boy    J210
116003  1996  Christopher  0.015495  boy    C623
116004  1996       Joshua  0.014565  boy    J200

In [14]:
names[names.year == 1996].tail()

        year       name      prop   sex soundex
245995  1996      Leann  0.000099  girl    L500
245996  1996      Luisa  0.000099  girl    L200
245997  1996   Griselda  0.000098  girl    G624
245998  1996      Jaden  0.000098  girl    J350
245999  1996  Kimberlee  0.000098  girl    K516

In [16]:
Boys_information = names[names.sex == 'boy']
Girls_information = names[names.sex == 'girl']

In [17]:
Boys_information.head()

   year     name      prop  sex soundex
0  1880     John  0.081541  boy    J500
1  1880  William  0.080511  boy    W450
2  1880    James  0.050057  boy    J520
3  1880  Charles  0.045167  boy    C642
4  1880   George  0.043292  boy    G620

In [18]:
Girls_information.head()

        year       name      prop   sex soundex
129000  1880       Mary  0.072381  girl    M600
129001  1880       Anna  0.026678  girl    A500
129002  1880       Emma  0.020521  girl    E500
129003  1880  Elizabeth  0.019865  girl    E421
129004  1880     Minnie  0.017888  girl    M500

In [19]:
Boys_information.groupby('year').size().head()

year
1880    1000
1881    1000
1882    1000
1883    1000
1884    1000
dtype: int64

In [20]:
Girls_information.groupby('year').size().head()

year
1880    1000
1881    1000
1882    1000
1883    1000
1884    1000
dtype: int64

In [24]:
row_id = Boys_information[Boys_information.year == 1996].prop.idxmax()
Boys_information.iloc[row_id]

year           1996
name        Michael
prop       0.019156
sex             boy
soundex        M240
Name: 116000, dtype: object

In [32]:
Girls_data_1972 = Girls_information[Girls_information.year == 1972]
Girls_data_1972_sorted = Girls_data_1972.sort_values(by = 'prop', ascending = False)
Girls_data_1972_sorted.head()

        year      name      prop   sex soundex
221000  1972  Jennifer  0.039447  girl    J516
221001  1972  Michelle  0.018157  girl    M240
221002  1972      Lisa  0.017086  girl    L200
221003  1972  Kimberly  0.016310  girl    K516
221004  1972       Amy  0.016042  girl    A500

In [33]:
Girls_data_1972_sorted.prop.cumsum().max()

0.8437470000000009

In [34]:
Girls_data_cumsum = Girls_data_1972_sorted.prop.cumsum()

crossover = Girls_data_cumsum.searchsorted(.5)
Girls_data_cumsum[(crossover[0] - 2):crossover[0] + 3]