In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.notebook_repr_html',False)

In [3]:
def side_by_side(*objs, **kwr):
    from pandas.io.formats.printing import adjoin
    space = kwr.get('space', 4)
    reprs = [repr(obj).split('\n') for obj in objs]
    print(adjoin(space, *reprs))

### Reader from csv

In [4]:
data_frame = pd.read_csv('../prectices/NoteBooks-Statistics-and-MachineLearning-master/data/stock_data.csv', index_col = 0, parse_dates = True)

In [5]:
data_frame.head()

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
2007-10-29  37.41  185.09  34.46  106.78  57.13  31.78  65.67  1540.98  85.51
2007-10-30  36.43  187.00  34.39  106.15  56.99  32.70  65.80  1531.02  83.25
2007-10-31  36.79  189.95  34.97  108.01  57.30  33.84  65.69  1549.38  84.03
2007-11-01  35.22  187.44  34.27  105.72  56.85  34.07  64.51  1508.44  80.84
2007-11-02  35.83  187.87  34.27  106.59  56.95  34.07  65.03  1509.65  80.32

In [6]:
data_frame.tail()

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
2011-10-10  10.09  388.81  16.14  186.62  64.43  26.94  61.87  1194.89  76.28
2011-10-11  10.30  400.29  16.14  185.00  63.96  27.00  60.95  1195.54  76.27
2011-10-12  10.05  402.19  16.40  186.12  64.33  26.96  62.70  1207.25  77.16
2011-10-13  10.10  408.43  16.22  186.82  64.23  27.18  62.36  1203.66  76.37
2011-10-14  10.26  422.00  16.60  190.53  64.72  27.27  62.24  1224.58  78.11

In [7]:
data = data_frame

In [8]:
data.tail()

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
2011-10-10  10.09  388.81  16.14  186.62  64.43  26.94  61.87  1194.89  76.28
2011-10-11  10.30  400.29  16.14  185.00  63.96  27.00  60.95  1195.54  76.27
2011-10-12  10.05  402.19  16.40  186.12  64.33  26.96  62.70  1207.25  77.16
2011-10-13  10.10  408.43  16.22  186.82  64.23  27.18  62.36  1203.66  76.37
2011-10-14  10.26  422.00  16.60  190.53  64.72  27.27  62.24  1224.58  78.11

In [9]:
data.columns

Index(['AA', 'AAPL', 'GE', 'IBM', 'JNJ', 'MSFT', 'PEP', 'SPX', 'XOM'], dtype='object')

In [10]:
data.index

DatetimeIndex(['2007-10-29', '2007-10-30', '2007-10-31', '2007-11-01',
               '2007-11-02', '2007-11-05', '2007-11-06', '2007-11-07',
               '2007-11-08', '2007-11-09',
               ...
               '2011-10-03', '2011-10-04', '2011-10-05', '2011-10-06',
               '2011-10-07', '2011-10-10', '2011-10-11', '2011-10-12',
               '2011-10-13', '2011-10-14'],
              dtype='datetime64[ns]', length=1000, freq=None)

In [11]:
data.describe()

                AA         AAPL           GE          IBM          JNJ  \
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean     17.138190   217.386950    18.362250   122.687010    58.228900
std       9.108915    90.627523     6.168905    26.797665     4.515169
min       5.100000    78.200000     6.190000    68.140000    42.760000
25%      11.027500   142.965000    14.690000   102.200000    55.867500
50%      13.470000   193.970000    16.085000   120.340000    58.960000
75%      17.427500   302.777500    20.282500   137.597500    61.110000
max      41.860000   422.000000    34.970000   190.530000    67.320000

              MSFT          PEP          SPX          XOM
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     24.947840    59.607930  1153.729090    71.513700
std       3.746426     6.531849   183.562134     8.131698
min      14.330000    42.460000   676.530000    54.850000
25%      23.570000    56.535000  1048.495000    65.065000
50%      25.375000    61.720000  1165.770000    70.905000
75%      27.250000    63.785000  1306.157500    79.222500
max      34.070000    71.250000  1549.380000    87.480000

In [12]:
series1 =  data.IBM[10:20]
series2 = data.IBM[5:15]

In [13]:
print(series1.head())

2007-11-12    94.70
2007-11-13    98.27
2007-11-14    96.56
2007-11-15    96.71
2007-11-16    97.82
Name: IBM, dtype: float64

In [14]:
print(series2.head())

2007-11-05    105.48
2007-11-06    105.27
2007-11-07    103.69
2007-11-08     99.05
2007-11-09     93.58
Name: IBM, dtype: float64

In [15]:
series1.describe()

count    10.000000
mean     96.376000
std       1.176466
min      94.700000
25%      95.420000
50%      96.550000
75%      97.025000
max      98.270000
Name: IBM, dtype: float64

In [16]:
print(series1 + series2)

2007-11-05       NaN
2007-11-06       NaN
2007-11-07       NaN
2007-11-08       NaN
2007-11-09       NaN
2007-11-12    189.40
2007-11-13    196.54
2007-11-14    193.12
2007-11-15    193.42
2007-11-16    195.64
2007-11-19       NaN
2007-11-20       NaN
2007-11-21       NaN
2007-11-23       NaN
2007-11-26       NaN
Name: IBM, dtype: float64

In [17]:
(series1+series2).dropna()

2007-11-12    189.40
2007-11-13    196.54
2007-11-14    193.12
2007-11-15    193.42
2007-11-16    195.64
Name: IBM, dtype: float64

In [18]:
a, b = series1.align(series2, join = 'outer')
side_by_side(a, b)

2007-11-05      NaN          2007-11-05    105.48
2007-11-06      NaN          2007-11-06    105.27
2007-11-07      NaN          2007-11-07    103.69
2007-11-08      NaN          2007-11-08     99.05
2007-11-09      NaN          2007-11-09     93.58
2007-11-12    94.70          2007-11-12     94.70
2007-11-13    98.27          2007-11-13     98.27
2007-11-14    96.56          2007-11-14     96.56
2007-11-15    96.71          2007-11-15     96.71
2007-11-16    97.82          2007-11-16     97.82
2007-11-19    95.42          2007-11-19       NaN
2007-11-20    96.54          2007-11-20       NaN
2007-11-21    95.42          2007-11-21       NaN
2007-11-23    97.13          2007-11-23       NaN
2007-11-26    95.19          2007-11-26       NaN
Name: IBM, dtype: float64    Name: IBM, dtype: float64

In [19]:
a, b = series1.align(series2, join = 'inner')
side_by_side(a, b)

2007-11-12    94.70          2007-11-12    94.70
2007-11-13    98.27          2007-11-13    98.27
2007-11-14    96.56          2007-11-14    96.56
2007-11-15    96.71          2007-11-15    96.71
2007-11-16    97.82          2007-11-16    97.82
Name: IBM, dtype: float64    Name: IBM, dtype: float64

In [21]:
a, b = series1.align(series2, join = 'left')
side_by_side(a, b)

2007-11-12    94.70          2007-11-12    94.70
2007-11-13    98.27          2007-11-13    98.27
2007-11-14    96.56          2007-11-14    96.56
2007-11-15    96.71          2007-11-15    96.71
2007-11-16    97.82          2007-11-16    97.82
2007-11-19    95.42          2007-11-19      NaN
2007-11-20    96.54          2007-11-20      NaN
2007-11-21    95.42          2007-11-21      NaN
2007-11-23    97.13          2007-11-23      NaN
2007-11-26    95.19          2007-11-26      NaN
Name: IBM, dtype: float64    Name: IBM, dtype: float64

In [22]:
a, b = series1.align(series2, join = 'right')
side_by_side(a, b)

2007-11-05      NaN          2007-11-05    105.48
2007-11-06      NaN          2007-11-06    105.27
2007-11-07      NaN          2007-11-07    103.69
2007-11-08      NaN          2007-11-08     99.05
2007-11-09      NaN          2007-11-09     93.58
2007-11-12    94.70          2007-11-12     94.70
2007-11-13    98.27          2007-11-13     98.27
2007-11-14    96.56          2007-11-14     96.56
2007-11-15    96.71          2007-11-15     96.71
2007-11-16    97.82          2007-11-16     97.82
Name: IBM, dtype: float64    Name: IBM, dtype: float64

In [24]:
a, b = series1.align(series2, join = 'right', fill_value=0)
side_by_side(a, b)

2007-11-05     0.00          2007-11-05    105.48
2007-11-06     0.00          2007-11-06    105.27
2007-11-07     0.00          2007-11-07    103.69
2007-11-08     0.00          2007-11-08     99.05
2007-11-09     0.00          2007-11-09     93.58
2007-11-12    94.70          2007-11-12     94.70
2007-11-13    98.27          2007-11-13     98.27
2007-11-14    96.56          2007-11-14     96.56
2007-11-15    96.71          2007-11-15     96.71
2007-11-16    97.82          2007-11-16     97.82
Name: IBM, dtype: float64    Name: IBM, dtype: float64