In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
pd.set_option('display.notebook_repr_html', False)

###  Creating DataFrame

In [4]:
name = ['mejbah', 'ahammad', 'mojumder', 'siam']
age = [21, 22, 34, 32]
location = ['vashonda', 'comilla', 'Dhaka','khulna']
data = pd.DataFrame({'Name':name,
                    'Age':age,
                    'Location':location}, index = range(1, 5))
data

       Name  Age  Location
1    mejbah   21  vashonda
2   ahammad   22   comilla
3  mojumder   34     Dhaka
4      siam   32    khulna

In [5]:
data.columns

Index(['Name', 'Age', 'Location'], dtype='object')

In [6]:
data.index

RangeIndex(start=1, stop=5, step=1)

In [7]:
data.items

<bound method DataFrame.items of        Name  Age  Location
1    mejbah   21  vashonda
2   ahammad   22   comilla
3  mojumder   34     Dhaka
4      siam   32    khulna>

In [9]:
data.dtypes

Name        object
Age          int64
Location    object
dtype: object

In [10]:
data.Age.mean()

27.25