In [1]:
import pandas as pd
import numpy as np

In [2]:
data = [101, 4, 3, 5, 1, 34]
print(data)

[101, 4, 3, 5, 1, 34]

In [3]:
datasets = pd.Series(data)
print(datasets)

0    101
1      4
2      3
3      5
4      1
5     34
dtype: int64

In [4]:
type(datasets)

pandas.core.series.Series

In [5]:
datasets.values

array([101,   4,   3,   5,   1,  34])

In [6]:
datasets.index

RangeIndex(start=0, stop=6, step=1)

In [7]:
datasets.items

<bound method Series.items of 0    101
1      4
2      3
3      5
4      1
5     34
dtype: int64>

In [8]:
datasets.mean()

24.666666666666668

In [9]:
datasets.cumsum()

0    101
1    105
2    108
3    113
4    114
5    148
dtype: int64

In [10]:
datasets*3 # Vector multiplication

0    303
1     12
2      9
3     15
4      3
5    102
dtype: int64

In [11]:
np.log(datasets)

0    4.615121
1    1.386294
2    1.098612
3    1.609438
4    0.000000
5    3.526361
dtype: float64

In [12]:
np.log10(datasets)

0    2.004321
1    0.602060
2    0.477121
3    0.698970
4    0.000000
5    1.531479
dtype: float64

In [13]:
dictionary = {'One': 1, 'Two':2, 'Three':3, 'Four':4, 'Five':5, 'Six':6}
print(dictionary)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [14]:
dictionary

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [15]:
data = pd.Series(dictionary)
data

One      1
Two      2
Three    3
Four     4
Five     5
Six      6
dtype: int64

In [16]:
data.items

<bound method Series.items of One      1
Two      2
Three    3
Four     4
Five     5
Six      6
dtype: int64>

In [17]:
data.values

array([1, 2, 3, 4, 5, 6])

In [18]:
data.index

Index(['One', 'Two', 'Three', 'Four', 'Five', 'Six'], dtype='object')

In [ ]:
for i, v in enumerate(data)